<cal-carousel [defaultSlide]="2" (indexChanged)="onIndexChanged($event)">
  <cal-carousel-slide>
    <app-card title="Mobile <br> internet" icon="tap_and_play"></app-card>
  </cal-carousel-slide>
  <cal-carousel-slide>
    <app-card title="Home internet" icon="wifi"></app-card>
  </cal-carousel-slide>
  <cal-carousel-slide>
    <app-card title="Get a device" icon="phone_iphone"></app-card>
  </cal-carousel-slide>
  <cal-carousel-slide>
    <app-card title="Add a phone line" icon="phone"></app-card>
  </cal-carousel-slide>
  <cal-carousel-slide>
    <app-card title="Upgrade" icon="upgrade"></app-card>
  </cal-carousel-slide>
</cal-carousel>
{{carouselIndex}}