cal-carousel-slide {
    width: 400px;
}

.page-container {
    position: relative;
}

.title {
    position: absolute;
    top: 100px;
    left: 470px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 100;
    .bold {
        font-weight: bold;
    }
}