.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 20px;
    box-shadow: 10px 10px 51px -12px rgba(0,0,0,0.63);

    position: relative;

    .icon {
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        mat-icon {
            transform: scale(5);
        }
    }

    .title {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .action {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateY(-10px);
        font-weight: bold;
        pointer-events: all;
        cursor: pointer;
        div, mat-icon {
            transition: color 100ms;
            color: black;
        }
        &:hover div, &:hover mat-icon {
            color: #fec100;
        }
    }

    .border {
        position: absolute;
        height: 20px;
        bottom: 0;
        width: 100%;
        border-bottom-color: #fec100;
        border-bottom-style: solid;
        border-bottom-width: 0px;
        border-radius: 20px;
        pointer-events: none;
    }
}